/*input[type=file]{
	max-width: 100%;
	margin: 5px 0;
}*/

hr{
	float: left;
	width: 100%;
}
.m-b-14{
	margin-bottom: 14px;
}
button.btn,
button.btn:focus,
button.btn:active {
    outline: none;
    box-shadow: none;
}

button,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
}

/*button i.fa {
    margin-right: 5px;
}*/

.notification-label {
    font-weight: bold;
}


/*.agdBtn {
    padding: 5px 10px;
    border: 1px solid #16a085;
    color: #16a085;
    background: transparent;
    margin: 5px 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.agdBtn:hover {
    color: #eee;
    background: #16a085;
}*/

.pac-container {
    z-index: 1051 !important;
}

html{
height: 100%;
}

body{
position: relative;
min-height:100%;
}


.notificationBtns {
    margin: 0 15px;
}

.well.expired{
	background: #FFDDDD;
}

tr.expired{
   /* background: #FFDDDD;*/
}

.icons-list > li{
	padding-left: 0;
}

.icons-list > li {
    position: relative;
    padding-left: 2.2em;
    margin-bottom: 1em;
    line-height: 1.65em;
}

.icons-list.form-horizontal > li{
  padding-left: 0px;
}

.icons-list > li > .icon-li{
    position: absolute;
    top: 2px;
    left: 0;
    width: 1em;
    font-size: 1.25em;
    text-align: center;
}

.select_vedio{
	font-weight:  bold;
}

/*bootstrap modal style overides*/

/*
.modal-header {
    background: #16a085;
}*/



.notification_title{
	display: inline-block;
}

.notification_filter{
/*    margin-bottom: 2.5em;*/
	font-size: 14px;
}
.pagination{
	display: block;
	text-align: center;
	margin: 10px auto;
}

.pagination > li{
	display: inline-block;
}

.video_wrapper{
	position: relative;
}

.video_wrapper iframe{
	max-width: 100%;
    height: 225px;
}
.video_wrapper i.fa.fa-trash-o{
	position: absolute;
	top: 5px;
	right: 10px;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 20px;
	background: #eee;
	font-size: 16px;
	color: #f44336;
	opacity: 0.5;
	transition: all 0.2s ease;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	cursor: pointer;
	
}

.video_wrapper i.fa.fa-trash-o:hover{
	opacity: 1;	
	box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
	background: #f44336;
	color: #eee;
}

.video_wrapper i.fa.fa-trash-o:active{
	background: #eee;
	color: #f44336;
}

.video_wrapper video{
	width: auto;
	height: 120px;
	max-width: 100%;
}

.calender_link:hover{
	text-decoration: none;
}

.calender_note{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.calender_note li{
	margin: 0 5px;
	padding: 0;
	height: 20px;
	position: relative;
	line-height: 20px;
	padding-left: 25px;
	list-style-type: none;
	display: inline-block;
	font-size: 11px;
	color: #777;	
}

.color_spot{
	height: 20px;
	width: 20px;
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	background: #f44336;
	margin-right: 7px;
}

.color_spot.available{
	background: #4CAF50;
}

.color_spot.notConfirmed{
	background: #03A9F4;
}

.color_spot.Confirmed{
    background: blue;
}

.upload_btn{
	padding: 5px 10px;
	background: #eee;
	margin-bottom: 0;
}

.navbar{
	background-color: #067B64;
}

.navbar .navbar-collapse {
    background: transparent;
}



/*.account-form .form-control {
    height: auto;
}*/

.fileupload.fileupload-new .input-group-btn,.fileupload.fileupload-exists .input-group-btn{
vertical-align: top;
}

.select_speciality_field {
    overflow: hidden;
}

.select_speciality_field label {
    display: block;
}

/*.select_speciality_field .col-sm-4 {
    padding: 0;
    padding-right: 10px;
}

.select_speciality_field .col-sm-4:last-child {
    padding-right: 0px;
}*/


.select_speciality_field p {
    margin-bottom: 4px;
}


/* .form-group {
    overflow: hidden;
} */

.validation_error_msg {
/*    display: block;
    position: absolute;
    padding: 2px 10px;
    border-radius: 5px;
       background: #b94a48;
    top: 44%;
    left: 103%;
        text-align: center;
    min-width: 200px;*/

/*    position: absolute;
     top: 44%;
    left: 103%;

    display: inline-block!important;
     text-align: center;
    min-width: 200px;
    padding: 2px 10px;
    margin: 0;
    list-style: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #b94a48;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;*/
}

/*.validation_error_msg p {
    margin: 0;
        color: #fff;
    font-size: 12px;
    font-weight: 600;
}*/

/*.validation_error_msg:before {
  content: "";
    position: absolute;
    top: 20%;
    right: 100%;
    display: block;
    height: 0;
    width: 0;
    border-right: 6px solid #B94A48;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent
}*/


/*custom*/

input[type=text], input[type=password], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=tel], input[type=time], input[type=url], input[type=week], select, textarea {
/*   border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
height: 30px;
    padding-right: 10px!important;
    padding-left: 10px!important;
    border-radius: 2px!important;*/

/*    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

textarea {
	height:90px;
	width:100%;
	max-width:100%;	
}

span.check-label{
    vertical-align: -webkit-baseline-middle;
}

.inpt-req{
position: relative;
}

.inpt-req:before {
  content:'*';
  color:red;
  position: absolute;
  top:-10px;
  left:0;
}

form.invite-company>.row{
margin-bottom:20px;
}

#selected_company li:last-child{
margin-bottom:16px;
}

.remove_selected_company .fa-times{
cursor: pointer;
margin-left:15px;
}

.account-wrapper .account-logo{
    width: 100%;
    height:auto;
}

.account-wrapper .account-logo>img{
    width: 75%;
}

.account-wrapper .portlet{
text-align: left;
}

.form-inline label[for="signup-cost-per-hour"]{
display:block;
}

.portlet .portlet-header .portlet-tools {
    margin: 5px 0 5px 0;
}

.visibilty-li{
list-style-type: none;
}

#subscription_time_modal .btn.btn-secondary{
margin-left:15px;
margin-right:15px;
margin-top:10px;
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	text-align: center;
	vertical-align: middle;
}

a, a:hover{
	text-decoration: none;
}


.admin-blocks .thumbnail{
    text-align: center;
    background: #148e76;
    padding: 20px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.admin-blocks .thumbnail:hover{
    border-color: #148e76;
    background: #159c81;
}

.admin-blocks .thumbnail a>i{
    display: block;
    font-size: 38px;
    margin-bottom: 16px;
}

.admin-blocks .thumbnail a {
color:#FFFFFF;
display: block;
}

.edit-blocks p{
margin-top:16px;
}

#grid_table .file-info{
text-align:center;
}

#grid_table .file-info>span{
    display: block;
}

.favorites-table .thumbnail{
margin:0 auto;
}

.table-bordered.table-highlight thead tr:first-child td {
    color: #fff;
    font-weight: 600;
    border: 1px solid #2c2c2c;
}

.table .thumbnail>img, .table .thumbnail a>img{
/*max-height:40px;*/
height:37px;
}


.spin-icon {
    width: auto;
    height: auto;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*.navbar-profile-avatar{
	width: auto;
    max-height: 30px;
}*/

.navbar-right .dropdown .dropdown-toggle img{
    width: auto;
    max-height: 30px;
}

.navbar-right .dropdown.language-flag .dropdown-toggle img{
	width: 15px;
}


.list-group-item1 {
    position: relative;
    display: block;
}

/*.profile-pic img{
max-height:200px;
min-height:156px;
}*/

.fc-widget-content .oldDate {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

li.vald-errors p{
/*    display: block;
    padding: 5px;
    border-radius: 5px;
    background: #fcc;
    min-width: 200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);*/
        background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
       padding: 14px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.list-group .video_wrapper{
margin-top:25px;
}

.delete-text h4{
margin-top:15px;
}

/*.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
      border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    background-color: transparent;
}*/

.bootstrap-select .btn-default{
border-radius:2px;
}

.bootstrap-select .dropdown-menu > li {
    margin-right: 0px;
    margin-left: 0px;
}

/*.bootstrap-select .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #428BCA;
    border-radius:0px;
}*/

.bootstrap-select .dropdown-menu{
margin-top:0px;
border-radius:0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .dropdown-toggle>i:first-child{
    margin-right: .65em;
    font-size: 15px;
}

.bootstrap-select .dropdown-toggle:focus {
 outline: thin dotted transparent!important; 
   outline: 5px auto transparent!important; 
    outline-offset: -2px;
}

/*inobx mail*/

.inbox ul li{
    list-style-type: none;
  }

.inbox .inbox-pagination a.np-btn {
margin-left: 5px;
}

.inbox .inbox-pagination a.np-btn {
border: 1px solid #e7e7e7;
padding: 5px 15px;
display: inline-block;
background: #fcfcfc;
color: #afafaf;
border-radius: 3px !important;
-webkit-border-radius: 3px !important;
}

.inbox .inbox-pagination{
float:right;
}

 .inbox .table-inbox tr.unread td {
    font-weight: 600;
    background: #f7f7f7;
}

.inbox .table-inbox tr.unread a {
    color: #32323a;
}

.inbox .table-inbox tr td a{
 text-decoration: none;
}

.inbox .table-inbox tr td img{
 height:23px;
 width:auto;
}

.inbox .table-inbox tr.unread td {
    font-weight: 600;
    background: #f7f7f7;
}

.inbox .table-inbox tr td  {
     font-size:14px;
     border-bottom: 1px solid #ddd;
}

.inbox .table-inbox tr td a {
    color: #767676;
    font-weight: 400;
    display: block;
    padding:8px;
}

.table-inbox.table-inbox.table>thead>tr>td, .table-inbox.table>tbody>tr>td, .table-inbox.table>tfoot>tr>td{
    padding:0px;
}

.inbox .table-hover > tbody > tr:hover > td,.inbox  .table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}

.inbox ul.inbox-pagination li {
    float: left;
}

.inbox .inbox-pagination li span {
    display: inline-block;
    margin-top: 7px;
    margin-right: 5px;
}

.inbox .mail-option .chk-all,.inbox .mail-option .btn-group a.btn {
    border: 1px solid #e7e7e7;
    padding: 5px 10px;
    display: inline-block;
    background: #fcfcfc;
    color: #afafaf;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
}

.inbox .chk-all .btn-group a.btn{
background-color: transparent;
border-color:transparent;
}

.inbox .chk-all .pull-left.mail-checkbox{
    display: inline-block;
}


.inbox .mail-title {
    font-size: 24px;
    color: #a2a2a2;
    font-weight: 300;
}

.inbox .mail-sender img{
height:auto;
height: 23px;
width:31px;
position: absolute;
}

/*.mail-sender .row>.col-md-8 span{
    padding-left: 40px;
    display: block;
}*/

.inbox .table-inbox>tbody>tr>td:first-child{
    position: relative;
}

/*.inbox .table-inbox>tbody>tr:hover>td:first-child:before{
    font-family: FontAwesome;
    content: "\f101";
    position: absolute;
    left:5px;
    top:8px;
    color:#ADABAB;
}*/

.inbox .table-inbox>tbody>tr>td:first-child a{
color:#363636;
}


.inbox p {
font-size:14px;
margin-bottom: 0px;
}

.inbox .mail-sender,.inbox .attachment-mail {
    width: 100%;
    display: inline-block;
   /* margin: 20px 0;
    border-top: 1px solid #EFF2F7;
    border-bottom: 1px solid #EFF2F7;
    padding: 10px 0;*/
}

/*.inbox .view-mail{
    margin:0px 0px 5px 0px;
}*/
.content-container{
	padding: 30px 25px 40px 25px;
}
.content-container .mail-title {
    margin-top: 0;
    color: #16a085;
    font-size: 24px;
}

.mail-sender>.row>.col-md-4>p{
display: inline-block;
}

/*.mail-sender>.row>.col-md-4>a{
float:right;
}
*/
.mail-sender>.row>.col-md-4 button {
    padding: 2px 7px;
}

section.panel-textarea{
padding:15px;
}

section.panel-textarea textarea{
margin-bottom:15px;
height:120px;
width:600px;
max-width:100%;
display: block;
}

section.panel-textarea.reply-section textarea{
width:800px;
max-width:100%;
}

section.panel-textarea.reply-section{
width:800px;
max-width:100%;
}

section button[type="submit"]{
display:inline-block;
margin-right:15px;
}

section.panel-textarea.inbox.reply-section{
padding-right:0px;
padding-left:0px;
}

.content-container .single-panel.inbox .mail-block .mail-sender{
margin-bottom: 5px;
}


.content-container .single-panel.inbox .mail-block{
    margin-top: 40px;
    margin-bottom: 40px;
    /*background-color: #F8F8F8;*/
    padding: 20px;
    border-radius: 2px;
    width:600px;
    max-width:100%;
    position: relative;
    background-color: #E6E6E6;
	word-wrap: break-word;
	position: relative;
}
.content-container .single-panel.inbox .mail-block .delete_message{
	position: absolute;
	right: 9px;
	top: 6px;
	line-height: 1;
}
.content-container .single-panel.inbox .mail-block .delete_message button{
	background-color: transparent !important;
	border: 0px;
	padding: 0px;
	color: #16a085;
}
.content-container .single-panel.inbox .mail-block.sent_to .view-mail{
 padding: 0px 60px 0px 0px;
}

/*.content-container .single-panel.inbox .mail-block.received_from .view-mail{
 padding: 0px 0px 0px 60px;
}*/

.content-container .single-panel.inbox .mail-block.sent_to{
margin-left: auto;
text-align: left;
}

.content-container .single-panel.inbox .mail-block.received_from{
margin-left: 0;
text-align: left;
}

.content-container .single-panel.inbox .mail-block.received_from .mail-date>p{
text-align: left;
font-style: italic;
font-size: 13px;
  font-weight: 200;
        color: #999;
}

.content-container .single-panel.inbox .mail-block.sent_to .mail-date>p{
text-align: left;
font-style: italic;
font-size: 13px;
    font-weight: 200;
        color: #999;
}

/*.content-container .single-panel.inbox .mail-block>.mail-sender {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: right;
}*/

/*.content-container .single-panel.inbox .mail-block>.mail-sender>.row>.col-md-4 {
float:right;
}*/

#inbox-detail-page{
    width: 800px;
    max-width:100%;
    margin-right: auto;
    margin-left: auto;
}

.content-container .single-panel.inbox .mail-block.sent_to .mail-date>p:after{
font-family: FontAwesome;
    content: "\f017";
    font-style: normal;
    margin-left:5px;
}

.content-container .single-panel.inbox .mail-block.received_from .mail-date>p:before{
font-family: FontAwesome;
    content: "\f017";
    font-style: normal;
    margin-right:5px;
}


.linkedin-btn a {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #3588DC 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#3588DC 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#3588DC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
color:#FFFFFF;
border:none;
padding:6px 10px 6px 20px;
border-radius:4px;
}


.linkedin-btn a:hover,.linkedin-btn a:active,.linkedin-btn a:focus{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}


.linkedin-btn a:before {
    font-family: FontAwesome;
    content: "\f08c";
    color:#FFFFFF;
        padding-right: 5px;
}

.linkedin-btn a input{
    background-color: transparent;
    border:none;
        outline: none;
}

.notification {
  position: relative;
}

.notification .notificationBtns{
    margin: 0 0px;
}

.notification .notificationBtns i{
padding-right:5px;
}

.notification .notificationBtns + .notificationBtns{
    margin-right:10px;
}

.notification a.contact_trainer_search_button{
position:absolute;
right:0;
top:45%; 
}

.notification a.list-group-item1{
position:absolute;
right:0;
top:65%; 
}

.notification button.notificationBtns{
position:absolute;
right:0;
top:85%; 
}

#notification_loader_speciality{
    position: absolute;
    top: 0;
    left: 120px;
    z-index: 99999;
}

#notification_loader_search_speciality{
    position: absolute;
    top: 0;
    left: 120px;
    z-index: 99999;
}

.search-title{
margin-bottom: 10px;
}

.search-select select.form-control{
width:81%;
}

.double_icons a, .double_icons>button{
margin-left:5px;
}

.double_icons>a:first-child, .double_icons>button:first-child{
margin-left:0px;
}

.double_icons{
      width: 120px;
}

td span.label{
    font-weight: 400;
}

.icon_received{
color:#e74c3c;
}

.icon_sent{
color:#5bc0de;
}

 /* Rotate div */
/* .icon_sent, .icon_received{
 -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaeY(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}*/

/*.two_icons{
    min-width: 120px;
}*/

.modal-body .hours.toggled{
max-height: 503px;
    border: 1px solid #16A085;
    overflow-y: scroll;
    padding: 20px;
}

.single-button{
    border: none;
    border-radius: 0px;
    padding: 15px 30px;
    margin-bottom: 10px;
}

.container-button .btn-secondary{
  margin-bottom: 10px;
}

.portlet-content>form .btn{
margin-top:25px;
}

.col-sidebar-right .portlet{
width:374px;
max-width: 100%;
margin-right:auto;
margin-left:auto;
}

#email_save_btn{
margin-top:10px;
}

.connect-icon img{
height:auto;    
width: 38px;
margin-right: 10px;
display: inline-block;
cursor: pointer;
}

.connect-li{
    list-style-type: none;
}

.connect-li .col-sm-3{
    padding-top:10px;
}

.visibilty-li>.row, .connect-li>.row{
margin-bottom: 15px;
}

select[multiple], select[size] {
    height: 94px;
}


#selectHours .modal-body .hours.toggled{
        padding: 20px 30px;
}

#selectableHours {
    padding: 15px 0px!important;
}


.user-search label{
font-weight: 600;
}

/*.user-search label, .user-search input {
margin-bottom: 10px;
}
*/


.navbar .navbar-nav > li.sync_btn > i {
    font-size: 14px;
    padding-top: 22px;
    line-height: 1.2;
    padding-bottom: 22px;
    padding-right:15px;
    padding-left:15px;
    cursor: pointer;
}

.navbar .navbar-nav > li.sync_btn > i:hover, .navbar .navbar-nav > li.sync_btn > i:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar .navbar-nav > li > a, .navbar .navbar-nav > li.sync_btn > i {
    color: #CECECE;
    font-size: 15px;
}

/*.profile-title h2{
display: inline-block;
}*/
.profile-title h2{
	position: relative;
	padding-right: 50px;
}
.profile-title h2 .btn-primary{
    position: absolute;
    right: 0px;
    top: 0;
}

.row-stat{
text-align: center;
}

.row-stat i{
font-size: 24px;
color:  #999999;
-webkit-transition: all 500ms ease-out 0.2s;
-moz-transition: all 500ms ease-out 0.2s;
-o-transition: all 500ms ease-out 0.2s;
transition: all 500ms ease-out 0.2s;
}


/* Make it a marquee */
.sync_text {
color: #CECECE;
    font-size: 12px;
   /* margin-right:5px;*/
    animation: marquee 0.3s linear;
}

/* Make it move */
@keyframes marquee {
    0%   { opacity: 0 }
    100% { opacity: 1 }
}


.input-group.input-with-mrgn{
    margin-bottom: 1.25em;
}

.input-group.input-with-mrgn .form-control{
margin-bottom: 0em;
border-bottom-right-radius: 0 !important;
border-top-right-radius: 0 !important;
}




.modal-body input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.navbar .navbar-toggle i{
color:#CECECE;
}

.search-blck label{
margin-top:5px;
}

.search-blck label{
margin-top:5px;
}

.language-dropdown img{
max-height:13px;
width:13px;
}

/*.notification_filter .form-group>label{
        font-weight: 300;
}*/

.notification_filter:after{
    content:'';
    display: block;
clear: both;
}

.search-select .form-group{
margin-right:0px; 
margin-left:0px; 
}


#map {
    max-width: 100%;
}

/*.add_btn{
margin-bottom: 2.5em;
}*/

.form-horizontal .form-group{
    word-wrap:break-word;
}

.thumbnail.profile-pic img{
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
}

.thumbnail.profile-pic{
    border: 1px solid transparent;
}



.language-flag .navbar-profile-avatar{
    border: 0px solid transparent;
    border-radius: 0px;
}

.account-bg{
    background-color: transparent;
}


.tab-pane h3{
display: inline-block;
margin-bottom: 30px;
}

.account-body >.form {
    padding: 0 25px;
    text-align: left;
}

.parsley-error-list p{
margin-bottom: 0px;
}


.form-group .parsley-error-list::after{
z-index:999;
}

.fc-button-prev .fc-text-arrow, .fc-button-next .fc-text-arrow {
    font-weight: bold;
}

   .account-wrapper .standard-availability>.row > div{
        margin-bottom: 1.25em!important;
    }



.double_icons{
position: relative;
}

.double_icons img.notification_loader_favorite{
position: absolute;
top:5px;
right:5px;
}

/*.fileupload-new.thumbnail{
height:auto;
}
*/

#overlay img{
height:180px;
width:auto;
margin-top:20%;
}

.fileupload .btn{
    text-transform: uppercase;
}


.ui-autocomplete.ui-widget-content{
	border: 1px solid #ddd;
	background: #FFFFFF;
	color: #333;
	font-size: 0.9em;
	word-wrap: break-word;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
      border: 1px solid #ddd;
    background: #ddd;
    font-weight: normal;
    color: #333;  
}

.no-result{
margin-top:40px;
}

.reply-section{
width:600px;
max-width:100%;
margin-right:auto;
margin-left:auto;
}


.alert{
clear: both;
}

.heading-wrapper .heading{
display: inline-block;
border-bottom: 1px dotted transparent;
    padding-bottom: 0px;
    margin-bottom: 0em;
}

.heading-wrapper{
        padding-bottom: 8px;
    margin-bottom: 1.35em;
    border-bottom: 1px dotted #CCC;
}

.notification_filter:after{
content:'';
display: block;
clear: both;
}

.filter_block{
    margin-bottom: 35px;
}

.search-result #myTab1{
margin-top:30px;
}

.double_status {
width: 190px;    
}

.account-form .form-control.option{
    margin-bottom:0px;
}

.no_calender_block{
    width: 240px;
    max-width:100%;
    margin-right: auto;
    margin-left: auto;
}

.navbar-collapse {
    max-height: initial;
}


/*.checkbox-inline-error{
margin-top:10px!important;
}*/


.notification_filter #notification_loader{
    position: absolute;
    right: 0;
    top: -15px;
}

#times .portlet-content>form .time_wrapper{
-webkit-column-width: 120px; /* Chrome, Safari, Opera */
    -moz-column-width: 120px; /* Firefox */
    column-width: 120px;
}

#times .portlet-content>form .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

#days .portlet-content>form>.form-group>.checkbox{
    margin-bottom: 15px;
}

.linkedin-portlet .portlet-content{
text-align: center;
}

.linkedin-portlet .portlet-content>.form-group>a{
display: block;
}

#times .portlet .btn {
    margin-top: 25px;
}
.wc-container table td.wc-grid-timeslot-header{
	vertical-align: top;
}
#calendar .ui-widget-header{
	background: none;
	border: 0px;
}
#title_date{
	color: #222;
	font-weight: bold;
	line-height: 1.2;
	font-size: 17px;
	margin-left: 15px;
	margin-right: 15px;
}
#calendar .wc-header{
	background: transparent;
	border: 0px;
}
#calendar .wc-header .wc-day-column-header{
	font-weight: bold;
	font-size: 13px;
	border: 0px;
}
#calendar .wc-time-slots .wc-time-header-cell{
	display: block;
	width: 37px;
	height: 40px !important;
	font-size: 10px;
	text-align: center;
	line-height: 33px;
	padding: 0px !important;
	text-align: center;
}
#calendar .wc-time-slots .wc-hour-header{
	background: transparent;
	border-bottom: 0px;
}
#calendar .wc-time-slots .wc-grid-timeslot-header{
	background: transparent;
}
#calendar .wc-time-slots .wc-time-slot{
	border-bottom: 1px dotted #cccccc;
}
/*#calendar .wc-time-slots .wc-time-slot:first-child{
	border-top: 1px solid #cccccc;
}*/
/*#calendar .wc-time-slots .wc-time-slot:last-child{
	border-bottom: 1px solid #cccccc;
}*/
#calendar .wc-scrollable-grid .wc-day-column-first{
	border: 1px solid #cccccc;
}
#calendar .wc-scrollable-grid{
	position: relative;
	height: auto !important;
	overflow-x: auto !important;
	overflow-y: hidden !important;
	width: auto;
	padding: 10px 20px;
	margin: 0px -20px;
}
#calendar .wc-scrollable-grid table.wc-time-slots{
	position: relative;
	overflow: visible;
}
#calendar .wc-cal-event{
	overflow: visible;
	opacity: 1;
}
#calendar{
	margin-bottom: 35px;
}
#calendar .wc-toolbar .wc-nav{
	float: right;
}
#calendar span.remove,#calendar span.remove::after{
	width: 18px;
	height: 18px;
	font-size: 11px;
	line-height: 18px;
}
#calendar h1.wc-title{
	display: none;
}
.custom-calender-button .prev-week,.custom-calender-button .next-week{
	color: #16A085;
	font-size: 22px;
	display: inline-block;
	line-height: 1;
}
.todays_date_button button.todays_date{
	background: #ddd;
	color: #777 !important;
	position: relative;
	display: inline-block;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.6;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
	transition: background 200ms ease-out;
	white-space: nowrap;
	-webkit-appearance: none;
}
.todays_date_button button.todays_date:hover,.todays_date_button button.todays_date:active{
	background: #ffffff;
	outline: 0;
}

/**
* Css spinner
*/
.sk-circle {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
}

.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #e74c3c;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.loader {
     position: fixed;
     left: 50%;
     top: 50%;
     z-index: 9999;
     background: rgba(0, 0, 0, 1);
     padding: 15px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
 }


/*.loader {*/
    /*position: fixed;*/
    /*right: 10px;*/
    /*top: 25%;*/
    /*z-index: 9999;*/
    /*background: rgba(0, 0, 0, 1);*/
    /*padding: 15px;*/
/*}*/

.loader .sk-circle {
	margin: 0px;
}


.overlay {
    opacity: 0.3;
    filter: alpha(opacity=30);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#date_date{
    position:relative;
}
#date_date #datepicker{
    position:absolute;
    right: 0px;
    top: 100%;
    background:#fff;
    z-index: 9999;
}
.is-hidden{
    display:none;
}

div.apppointement_wrapper{
	padding-top: 30px;
	padding-bottom: 0px;
	border-bottom: 1px solid #ebeded;
}
div.apppointement_wrapper:last-child{
	border-bottom: 0px;
}
#calendar .wc-header .wc-today{
    background:transparent;
    color:#212121;
}
.form-inline.three-col{
	margin-bottom: 14px;
}
.form-inline.three-col .checkbox{
    padding-right:15px;
    width:33.33333333%;
    margin-right:-4px;
	padding-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}
.form-inline.two-col .checkbox{
    padding-right:15px;
    width:50%;
    margin-right:-4px;
}
.form-inline .checkbox input[type="checkbox"]{
    margin-right:10px;
}
.profile-title ul.icons-list{
	width: 100%;
	float: left;
	clear: both;
}
.register-form .fileupload .input-group .form-control{
	position: relative;
	overflow: hidden;
	word-break: break-all;
}
.register-form .fileupload .input-group .form-control .fa-file{
	position: absolute;
	left: 12px;
	top: 9px;
}
.register-form .fileupload .input-group .form-control .fileupload-preview{
	width: 100%;
	display: inline-block;
	padding-left: 15px;
	line-height: 22px;
}

/*media*/

@media (min-width: 992px) {

    .text-center-md{
        text-align: center;
    }

}

@media (min-width: 768px) {

.noticebar-item-time {
  color: #777;
}
    .modal-content {
    border-radius: 0px;
    overflow: hidden;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.main_loader{
	background:rgba(0,0,0,0.7);
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:9999;
}
.main_loader .main_loader_wrapper{
	width:60px;
	height:60px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.main_loader .sk-circle{
	margin:0px;
	width:60px;
	height:60px;
}
.main_loader .sk-circle .sk-child::before {
	background-color: #16a085;
}

    .navbar-nav.navbar-right .noticebar-menu:before{
    display: block!important;
    }

   .mainbar-nav .dropdown:hover>.dropdown-menu{
    display: block;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    }

    .mainbar-nav .dropdown>.dropdown-menu{
    opacity: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    transform: scale(1, 0);
    /*display: block;*/
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    }

    .user-search.form-inline label{
    margin-right:15px;
    margin-left:15px;
    }

    .account-wrapper {
        width: 650px;
    }

    .account-wrapper .account-logo{
      height: 100px!important;
    }

    .content .breadcrumb {
    display: inline-block;
    }

    .pull-right-md{
    float:right;
    margin-left:15px;
    /*margin-bottom: 2.5em;*/
    }

}



@media (max-width: 1199px) {

	.search-table .double_icons>button {
		margin-left: 5px;
	}

	.user-list-table .double_icons a{
		margin-left:0px;
		margin-top:2px;
	}

	.user-list-table .double_icons a button{
		margin-top:2px;
		margin-bottom: 2px;
	}

     .account-wrapper .row > div:last-child{
        margin-bottom:0px;
    }

    .account-form .row > div:last-child .form-control{
         margin-bottom:0px;
    }

}

@media (max-width: 991px) {

	.form-group.search-blck>.col-md-10>.row>.col-md-4:first-child{
		margin-bottom:10px;
	}

	.double-input .form-control{
		margin-bottom:10px;
	}
    
	.agd-widget {
		margin: 100px auto;
		width: 85%;
	}

	.notification_filter{
		float:none!important;
	}

	.profile-title h2{
		padding-right:60px;
	}

	.mail-sender .row>.col-md-4{
		margin-top:30px;
	}

	.double_icons>a, .double_icons>button {
		margin-left:0px;
		margin-top:2px;
	}

	.double_icons a button{
		margin-top:2px;
		margin-bottom: 2px;
	}
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
		border: 1px solid #ddd;
	}
	.table-responsive>.table-bordered{
		border: 0;
		margin-bottom: 0px;
	}
	
	.table-responsive>.table-bordered>thead>tr>th:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child {
		border-left: 0;
	}

.search-select select.form-control{
width:100%;
}


.calender_note {
    text-align: center;
}

}

@media (max-width: 767px) {


    .register-form .form-group .form-group{
            margin-bottom: 15px;
    }

    .double-input .form-control{
    margin-bottom:10px;
    }

    .heading-wrapper .heading{
        margin-bottom: 1.35em;
        display: block;
    }

    .heading-wrapper {
    border-bottom: 1px dotted transparent;
}

    .heading-wrapper .pull-right-md{
    margin-bottom: 0px;
    }

    .register-form.account-body >.form {
        padding: 0px;
    }

    .tab-pane h3{
    display: block;
    }

   .dropdown.open ul.dropdown-menu.noticebar-menu{
        display: block!important;
    }

    .pull-right-md{
        text-align: right;
    margin-bottom: 30px;
    }

    .agd-widget .fc-week.fc-last td{
        padding-bottom:16px;
    }


    .sync_text{
        position: absolute;
        left: 48px;
        top: 20px;
    }

    .footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .form-group.select_speciality_field .row>.col-sm-4>p{
    margin-top:1em;
    }

    .thumbnail.profile-pic{
        width: 291px;
        max-width: 100%;
        margin-right:auto;
        margin-left:auto;
    }

     .profile-list.list-group{
        width: 400px;
        max-width: 100%;
        margin-right:auto;
        margin-left:auto;
    }

    .video_wrapper{
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
    }

    .profile-title{
        margin-top:30px;
    }

    .edit-blocks .row>.col-sm-6{
        margin-bottom: 1em;
    }

    .account-wrapper .row > div:last-child{
        margin-bottom:0px;
    }

 

    .account-form .row > div:last-child .form-control{
         margin-bottom:0px;
    }

    .btn-lg, .btn-group-lg>.btn {
    font-size: 14px;
    }

 .notification_filter.form-inline .form-control{
    width:auto;
    }

  /*  .notification_filter.form-inline .form-group{
        display: inline-block;
    }*/

#selectHours .modal-dialog{
    margin: 0px;
    padding:10px;
    width: 600px;
    max-width: 100%;
}

.modal-dialog{
/*    width: 600px;*/
    max-width: 100%;
}

.user-search label{
display: block;
}



.notification_filter select{
    margin-bottom:5px;
}

.notification_filter .form-group>label{
    display: inline-block;
}

.notification_filter .form-group>.form-control{
    display: inline-block;
}

.well {
    padding: 5px;
}

.notification a.contact_trainer_search_button{
	top:0%; 
}

.notification a.list-group-item1{
	top:50px; 
}

.notification button.notificationBtns{
	top:9autp; 
    position: relative;
    right: initial;
    top: autp%;
}

.linkedin-btn a input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 11px;
}

.form-group {
    margin-bottom: 30px;
}

}

@media (max-width: 380px) {

.calender_note {
    text-align: left;
}

.calender_note li{
    margin-bottom: 4px;
}

#reserveAppointment-form .reserveBtn{
    float:none!important;
}

#reserveAppointment-form .form-group{
    overflow: visible!important;
}

}






/**
 *     For search result page
 */

.search_result_page{
    padding: 35px 0px;
}
.search_result_page .search_filter .search_filter_title{
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.search_result_page .search_filter .search_filter_dropdown{
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin: 0px;
    margin-left: 10px;
}
.search_result_page .search_filter .search_filter_dropdown>li>a{
    padding: 0px;
    color: #000000;
    background-color: transparent !important;
}
.search_result{
    padding-top: 35px;
    display: table;
    width: 100%;
    border-bottom: 2px solid #E0E0E0;
}
.search_result .info_section,.search_result .option_section{
    display: table-cell;
    width: 50%;
    float: none;
    vertical-align: top;
}
.search_result .info_section .userpic img{
    border: 1px solid #000000;
}
.search_result .info_section .userpic{
    width: 102px;
	max-width: 102px;
}
.search_result .info_section .userpic,.search_result .info_section .userinfo{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.search_result .info_section .userinfo{
    padding-left:25px;
}
.search_result .info_section .userinfo .name a{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    color: #000000;
}
.search_result .info_section .userinfo label{
    width: 110px;
}
.search_result .option_section p>a{
	color: #000000;
    text-decoration: none !important;
}
.search_result .option_section p>a>i{
    font-size: 18px;
    margin-right: 10px;
}
.search_result .option_section a.btn{
	background-color: #e74c3c;
	border-color: #df2e1b;
    color: #ffffff;
    border-radius: 0px;
    display: block;
    text-transform: uppercase;
}
.search_result .option_section .option_section_wrapper{
    width: 180px;
    float: right;
    padding-top: 25px;
}
.search_filter ul.search_filter_dropdown .open .dropdown-menu{
    left: initial;
    right: 0px;
}
.search_filter .sort_search{
	border: 0px;
	text-transform: uppercase;
	outline: 0px !important;
}
.mini_search_result .search_result .info_section, .mini_search_result .search_result .option_section{
    display: block;
    width: 100%;
}
.mini_search_result .search_result .option_section .option_section_wrapper{
    width: 100%;
    padding: 0px;
    padding-top: 25px;
}
.mini_search_result .search_result .option_section .option_section_wrapper>p{
    display: inline-block;
    width: 50%;
    float: left;
    border: 2px solid #ffffff;
    text-align: center;
}
.mini_search_result .search_result .option_section .option_section_wrapper>p:last-child{
    width: 100%;
}
a:focus,button:focus{
    outline:0 !important;
}
.is-hidden{
    display: none !important;
}
.date-picker{
    margin-top: 15px;
    margin-bottom: 15px;
}
.date-picker .go-next, .date-picker .go-back {
	color: #555;
    font-size: 22px;
    display: inline-block;
    line-height: 1;
}
.date-picker .go-next.disable, .date-picker .go-back.disable{
    color: #666666;
}
.date-picker .selected_calender{
    color: #222;
    font-weight: bold;
    line-height: 1.2;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
}
button.js-datepicker-toggle{
    background: #ddd;
    color: #777 !important;
    position: relative;
    display: inline-block;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.6;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
    transition: background 200ms ease-out;
    white-space: nowrap;
    -webkit-appearance: none;
}
button.js-datepicker-toggle:hover{
    background: #ffffff;
}
button.js-datepicker-toggle.is-active{
    background: #d0d0d0;
}
.date-picker .date-picker-custom{
    position: relative;
}
.date-picker .date-picker-custom #datepicker{
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 100;
}
.ui-datepicker-title{
    text-align: center;
    color: #222;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1rem;
}
.ui-datepicker-prev, .ui-datepicker-next {
	color: #555;
    font-size: 18px;
    cursor: pointer;
}
.date-picker .ui-datepicker .ui-datepicker-prev, .date-picker .ui-datepicker .ui-datepicker-next, #ui-datepicker-div.ui-datepicker .ui-datepicker-prev,#ui-datepicker-div.ui-datepicker .ui-datepicker-next{
    border: 0px !important;
    top: 2px !important;
}
.date-picker .ui-datepicker .ui-datepicker-next,#ui-datepicker-div.ui-datepicker .ui-datepicker-next{
    right: 2px !important;
}
.date-picker .ui-datepicker .ui-datepicker-prev,#ui-datepicker-div.ui-datepicker .ui-datepicker-prev{
    left: 2px !important;
}
.date-picker .ui-datepicker .ui-datepicker-header>a:hover span, #ui-datepicker-div.ui-datepicker .ui-datepicker-header>a:hover span{
    text-decoration: underline;
}
.date-picker .ui-datepicker .ui-datepicker-prev span, .date-picker .ui-datepicker .ui-datepicker-next span,#ui-datepicker-div.ui-datepicker .ui-datepicker-prev span,#ui-datepicker-div.ui-datepicker .ui-datepicker-next span{
    background: transparent;
    text-indent: 0;
	color: #555;
    font-size: 18px;
    cursor: pointer;
    margin: 0px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    line-height: 19px;
    width: 20px;
    height: 20px;
}
.date-picker .ui-state-hover, .date-picker .ui-widget-content .ui-state-hover, .date-picker .ui-widget-header .ui-state-hover, .date-picker .ui-state-focus, .date-picker .ui-widget-content .ui-state-focus, .date-picker .ui-widget-header .ui-state-focus,.date-picker .ui-widget-header,#ui-datepicker-div.ui-datepicker .ui-widget-header,#ui-datepicker-div.ui-widget-content .ui-state-hover{
    background: transparent;
}
.date-picker .ui-widget-header a:hover{
    text-decoration: underline;
}
.date-picker .ui-widget-header,#ui-datepicker-div.ui-widget-content .ui-widget-header{
    border: 0px;
}
.date-picker #datepicker .ui-datepicker{
    border: 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    margin-top: 4px;
}
.date-picker .ui-datepicker td span,.date-picker .ui-datepicker td a,#ui-datepicker-div.ui-datepicker td span,#ui-datepicker-div.ui-datepicker td a{
    background: transparent;
    border: 0px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 23px;
}
.date-picker .ui-datepicker td a, #ui-datepicker-div.ui-datepicker td a{
    border-radius: 50%;
}
.date-picker .ui-datepicker td a:hover, #ui-datepicker-div.ui-datepicker td a:hover{
	color: #555;
    background: #d9d9ec;
}
.date-picker .ui-datepicker td a.ui-state-active, #ui-datepicker-div.ui-datepicker td a.ui-state-active{
    border: 0;
	background: #555;
    color: #fff;
}
.date-picker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default, #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default{
	color: #555;
    background: #d9d9ec;
    border-radius: 50%;
}
.date-picker .ui-datepicker .ui-datepicker-title select,.date-picker .ui-datepicker .ui-datepicker-title .ui-datepicker-year{
	font-size: 13px;
}
.user-list-table .media-table{
	min-width: 759px;
}
.available_date_wrapper{
	padding-right: 38px;
	position: relative;
}
.available_date_wrapper input{
	border-radius: 0px;
}
.available_date_wrapper button{
	position: absolute;
	width: 38px;
	height: 34px;
	text-align: center;
	right: 0px;
	top: 0px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0px;
}
.noticebar-menu > li > a:hover{
	color: #ffffff;
	background: #f44336;
}
.noticebar-menu > li > a:hover .noticebar-item-time{
	color: #ffffff;
}
#overlay>img{
	margin-top: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.form.account-form .form-group{
	margin-bottom: 22px;
}
.pagination_inside .table-bordered, .pagination_inside .table-bordered tbody tr:last-child td{
	border: 0px;
	background-color: transparent;
}
.mainbar .mainbar-toggle{
	text-align: left;
	padding: 6px 12px 6px 0px;
	line-height: 18px;
	font-weight: 600;
}
.mainbar .mainbar-toggle .fa-bars{
	float: right;
	color: #0a463a;
}
.navbar-profile-avatar{
	border: 2px solid #CECECE;
}
.table-bordered.table-highlight thead tr:first-child th{
	border: 1px solid red;
}
@media(min-width:768px) and (max-width:991px){
    .mini_search_result .search_result .info_section .userinfo span{
        display: inline-block;
        width: 100%;
    }
}
@media(max-width:991px){
	#category .pagination_inside table, #sub_category .pagination_inside table, #speciality .pagination_inside table{
		min-width: 660px;
	}
}
@media(max-width:767px){
	.topbar .navbar-toggle{
		background: transparent !important;
	}
	.navbar-brand-image{
		padding-left: 15px;
	}
	.mainbar .navbar-header{
		margin: 0px;
	}
    .search_result .info_section, .search_result .option_section{
        display: block;
        width: 100%;
        float: left;
    }
    .search_result .option_section .option_section_wrapper{
        width: 100%;
        padding: 0px;
        padding-top: 25px;
    }
    .search_result .option_section .option_section_wrapper>p{
        display: inline-block;
        width: 50%;
        float: left;
        border: 2px solid #ffffff;
        text-align: center;
    }
    .search_result .option_section .option_section_wrapper>p:last-child{
        width: 100%;
    }
    .search_result .option_section .option_section_wrapper>p>a{
        font-size: 14px;
        padding: 6px 12px;
        text-transform: uppercase;
    }
    .search_filter ul.search_filter_dropdown .open .dropdown-menu{
        position: absolute;
        top: 100%;
        left: initial;
        right: 0px;
        z-index: 1000;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
	.content-container {
		padding: 0px 0px 40px 0px;
	}
	#calendar .wc-container{
		min-width: 737px;
	}
	#calendar{
		overflow-x: scroll;
	}
	#calendar .wc-header .wc-day-column-header{
		width: 99px;
	}
	.navbar.topbar .navbar-nav > .navbar-profile > a{
		padding-right: 45px;
		position: relative;
	}
	.navbar.topbar .navbar-nav > .navbar-profile > a > .fa-caret-down{
		position: absolute;
		top: 50%;
		right: 30px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.navbar-right .dropdown.language-flag .dropdown-toggle img{
		width: 30px;
		border: 2px solid #CECECE;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}
@media(max-width:479px){
    .search_result .option_section .option_section_wrapper>p,.mini_search_result .search_result .option_section .option_section_wrapper>p{
        width: 100%;
    }
    .search_result .info_section .userinfo span,.mini_search_result .search_result .info_section .userinfo span{
        display: inline-block;
        width: 100%;
    }
	.form-inline.three-col .checkbox{
		width: 50%;
	}
}





